.encoding = "UTF-8"
cleanShutdown = "TRUE"
config.version = "8"
displayName = "{{ inventory_hostname }}"
ehci:0.deviceType = "video"
ehci:0.parent = "-1"
ehci:0.port = "0"
ehci:0.present = "TRUE"
{% for nic in hostvars[inventory_hostname].nics %}
{% if nic.ipv4_address is defined %}
ethernet{{ loop.index0 }}.addressType = "static"
ethernet{{ loop.index0 }}.connectionType = "custom"
ethernet{{ loop.index0 }}.address = "{{ mac_oui }}:{{ nic.ipv4_address | ip4_hex(':') }}"
ethernet{{ loop.index0 }}.present = "TRUE"
ethernet{{ loop.index0 }}.virtualDev = "vmxnet3"
ethernet{{ loop.index0 }}.vnet = "{{ nic.vmnet }}"
{% else %}
ethernet{{ loop.index0 }}.addressType = "generated"
ethernet{{ loop.index0 }}.connectionType = "custom"
ethernet{{ loop.index0 }}.present = "TRUE"
ethernet{{ loop.index0 }}.virtualDev = "vmxnet3"
ethernet{{ loop.index0 }}.vnet = "{{ nic.vmnet }}"
{% endif %}
{% endfor %}
floppy0.present = "FALSE"
guestOS = "vmkernel65"
hpet0.present = "TRUE"
ide1:0.deviceType = "cdrom-image"
ide1:0.fileName = "{{ vmware_fusion_vm_dir }}/isos/{{ esxi_custom_iso }}"
ide1:0.present = "TRUE"
ide1:0.startConnected = "TRUE"
isolation.tools.copy.disable = "TRUE"
isolation.tools.dnd.disable = "TRUE"
isolation.tools.paste.disable = "TRUE"
memsize = "{{ hostvars[inventory_hostname].ram }}"
monitor.phys_bits_used = "43"
numa.autosize.cookie = "40012"
numa.autosize.vcpu.maxPerVirtualNode = "4"
numvcpus = "{{ hostvars[inventory_hostname].cpus }}"
pciBridge0.pciSlotNumber = "17"
pciBridge0.present = "TRUE"
pciBridge4.functions = "8"
pciBridge4.pciSlotNumber = "21"
pciBridge4.present = "TRUE"
pciBridge4.virtualDev = "pcieRootPort"
pciBridge5.functions = "8"
pciBridge5.pciSlotNumber = "22"
pciBridge5.present = "TRUE"
pciBridge5.virtualDev = "pcieRootPort"
pciBridge6.functions = "8"
pciBridge6.pciSlotNumber = "23"
pciBridge6.present = "TRUE"
pciBridge6.virtualDev = "pcieRootPort"
pciBridge7.functions = "8"
pciBridge7.pciSlotNumber = "24"
pciBridge7.present = "TRUE"
pciBridge7.virtualDev = "pcieRootPort"
powerType.powerOff = "soft"
powerType.powerOn = "soft"
powerType.reset = "soft"
powerType.suspend = "soft"
scsi0.pciSlotNumber = "16"
scsi0.present = "TRUE"
scsi0.virtualDev = "pvscsi"
scsi0:0.fileName = "sda.vmdk"
scsi0:0.present = "TRUE"
scsi0:0.redo = ""
scsi0:1.fileName = "sdb.vmdk"
scsi0:1.present = "TRUE"
scsi0:1.redo = ""
scsi0:2.fileName = "sdc.vmdk"
scsi0:2.present = "TRUE"
scsi0:2.redo = ""
serial0.fileName = "thinprint"
serial0.fileType = "thinprint"
softPowerOff = "TRUE"
sound.autoDetect = "TRUE"
sound.fileName = "-1"
sound.pciSlotNumber = "-1"
svga.guestBackedPrimaryAware = "TRUE"
svga.vramSize = "268435456"
tools.syncTime = "FALSE"
tools.upgrade.policy = "upgradeAtPowerCycle"
usb.vbluetooth.startConnected = "FALSE"
vcpu.hotadd = "TRUE"
vhv.enable = "TRUE"
virtualHW.productCompatibility = "hosted"
virtualHW.version = "16"
vmci0.pciSlotNumber = "34"
vmci0.present = "TRUE"
